<div class="panel panel-primary">
        <ul class="nav nav-pills" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="pill" routerLink="list">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="pill" routerLink="add">Add Asset</a>
                </li>
              </ul>
    <div class="panel-heading">
    </div>

    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Asset ID</th>
                    <th>Name</th>
                    <th>Asset Type</th>
                    <th>Class</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ad of assetdef | async">
                    <td>{{ad.ad_id}}</td>
                    <td>{{ad.ad_name}}</td>
                    <td>{{ad.ad_type_id }}</td>
                    <td>{{ad.ad_class }}</td>
                    <td><a [routerLink]="['/Edit',ad.ad_id]" class="btn btn-primary">Edit</a></td>
                    <td><a [routerLink]="" class="btn btn-danger"> Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>


</div>